// src/styles/custom.scss

// Override default Bootstrap variables BEFORE importing Bootstrap
$theme-colors: (
  "primary": #ff4022,
  "secondary": #5e5e5e,
  "success": #28a745,
  "danger": #ff4d4f,
  "warning": #ffc107,
  "info": #17a2b8,
  "light": #f8f9fa,
  "dark": #343a40,
);

// // Import Bootstrap
@import "bootstrap/scss/bootstrap";

// Icons
// @import 'bootstrap-icons/font/bootstrap-icons.css';

.background {
  /* background-image: url('../assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  background: #FF4022;
  background: linear-gradient(45deg, rgba(255, 64, 34, 1) 0%, rgba(255, 141, 34, 1) 100%);
}

.user-name > a {
  color: #f8f9fa !important;
  font-weight: bold;
}